@page
@model PROYECTOBD1.Pages.Evaluacion.LobbyModel
@{
}
<br />
<h2>EVALUACIONES, CRITERIOS Y FORMULAS</h2>

<div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Evaluacion/Evaluaciones/Mostrar">Evaluaciones</a>
    </button>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Evaluacion/Criterios/Mostrar">Criterios</a>
    </button>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Evaluacion/Formulas/Mostrar">Formulas</a>
    </button>
</div>
