@page
@model PROYECTOBD1.Pages.AsociacionesMenu.IndexModel
@{
}
<br />
<h2>ASOCIACIONES REGIONALES E INDIVIDUALES(PRODUCTOR-PROVEEDOR)</h2>

<div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AsociacionesMenu/Asociaciones/Index">Asociaciones Regionales</a>
    </button>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AsociacionesMenu/Individuales/Index">Productor - Proveedor</a>
    </button>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AsociacionesMenu/Convenios/Index">Convenios</a>
    </button>
</div>

