@page
@model PROYECTOBD1.Pages.Recetas.VerModel
@{
}
<br>
<h2>Lista de pasos por receta</h2>
<table class="table">
    <thead>
        <tr>
            <th>NOMBRE DE RECETA</th>
            <th>PASO</th>
            <th>DESCRIPCION</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listInstrucciones)
        {
                    <tr>
                        <td>@item.NOMBRERECETA</td>
                        <td>@item.PASO</td>
                        <td>@item.DESCRIPCION</td>
                        <td>
                     <a class="btn btn-primary btn-sm" href="/Recetas/Instrucciones/Anadir?id=@item.FK_ID_RECETA">AÑADIR PASO</a>

                        </td>
                    </tr>
        }
        </tbody>
</table>