@page
@model PROYECTOBD1.Pages.AsociacionesMenu.Convenios.CrearModel
@{
}
<br />
<h2>SELECCIONE EL TIPO DE CONVENIO A CREAR</h2>

<div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AsociacionesMenu/Convenios/CrearAsoProv">Convenio Asociación - Proveedor</a>
    </button>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/AsociacionesMenu/Convenios/CrearProdProv">ConvenioProductor - Proveedor</a>
    </button>
</div>

