@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de distribución de cerezas</h1>
    <p>Proyecto BD1</p>
    <p>Diego Argotte</p>
    <p>Jesús Pérez</p>
    <p>Ricardo Mejías</p>
</div>
