@page
@model PROYECTOBD1.Pages.Mantenimiento.IndexModel
@{
}
<br />
<h2>MANTENIMIENTO, CONSULTA DE CLIENTES PRODUCTORES, PROVEEDORES</h2>

    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <button class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Mantenimiento/Clientes/Index">Clientes</a>
    </button>
    <button class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Mantenimiento/Productores/Index">Productores</a>
    </button>
    <button class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Mantenimiento/Proveedores/Index">Proveedores</a>
    </button>
    </div>

