@page
@model PROYECTOBD1.Pages.Recetas.OpcionModel
@{
}
<br />
<h2>Consultar Receta</h2>

<div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Recetas/IndexProd">A un Productor</a>
    </button>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Recetas/Index">A un Cliente</a>
    </button>
</div>
